[mysqld]
## After edit config you have to remove log files and restart mysql server
## because after changing innodb-log-file-size you should recreate ib_logfiles
## Stop MySQL server
## rm /data/dir/ib_logfile*
## Run MySQL server

##Table open cache under MacOS and MySQL 5.6 should be 250. 
##Otherwise you will get error MySQL server has gone away
##table-open-cache                   = 250
table_open_cache                     = 2048

## Cache
table_definition_cache               = 2048
thread_cache_size                    = 256
query_cache_size                     = 64M
query_cache_type                     = 1

## Per-thread Buffers
sort_buffer_size                     = 16M

## Temp Tables
max_heap_table_size                  = 512M
tmp_table_size                       = 512M

## Networking
interactive_timeout                  = 3600
max_connections                      = 400
max_connect_errors                   = 10000
max_allowed_packet                   = 512M
skip_name_resolve 
skip_secure_auth 
wait_timeout                         = 3600

## MyISAM
key_buffer_size                      = 256M
#myisam_recover                      = FORCE,BACKUP
myisam_sort_buffer_size              = 128M

## InnoDB
innodb_buffer_pool_size              = 2G
innodb_log_file_size                 = 256M
innodb_thread_concurrency            = 18
#innodb_flush_log_at_trx_commit       = 2
##Fastest
innodb_flush_log_at_trx_commit     = 0